<div class="line"></div>
<div class="container">
    <div class="footer flex flex-jc-sb">
        <div class="footer__nav">
            <a href="#" class="footer__item text-decoration_none"><span class="footer__text">Помощь</span></a>
            <a href="#" class="footer__item text-decoration_none"><span class="footer__text">Обратная связь</span></a>
            <a href="#" class="footer__item text-decoration_none"><span class="footer__text">Разработчикам</span></a>
            <a href="#" class="footer__item text-decoration_none"><span class="footer__text">Условия использования</span></a>
        </div>
        <div class="footer__powered">
            <span class="footer__text"> © 2001-2017 ООО «Яндекс»</span>
        </div>
    </div>
</div>