<div class="video flex flex-wrap">
    <div class="video__item">
        <video id="video-1" class="video" controls muted autoplay></video>
    </div>
    <div class="video__item">
        <video id="video-2" class="video" controls muted autoplay></video>
    </div>
    <div class="video__item">
        <video id="video-3" class="video" controls muted autoplay></video>
    </div>
    <div class="video__item">
        <video id="video-4" class="video" controls muted autoplay></video>
    </div>
</div>