
<div class="flex">
  <div class="video">
    <div class="video__item video__item-1">
        <video id="video-1" class="video" controls muted autoplay></video>
    </div>
    <div class="video__item video__item-2">
        <video id="video-2" class="video" controls muted autoplay></video>
    </div>
    <div class="video__item video__item-3">
        <video id="video-3" class="video" controls muted autoplay></video>
    </div>
    <div class="video__item video__item-4">
        <video id="video-4" class="video" controls muted autoplay></video>
    </div>
    <button class="video__button o-0">Показать все камеры</button>
  </div>
</div>
